# Environment
NODE_ENV=development

# Server
PORT=

# MongoDB
MONGODB_URI=

# AWS S3 Configuration
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
# MinIO endpoint (leave empty for actual AWS S3)
AWS_S3_ENDPOINT=

# CORS
CORS_ORIGIN=*

# JWT Secret (for authentication)
JWT_SECRET=
JWT_REFRESH_SECRET=
